body {
    font-family: 'Inter', system-ui, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

header{
    background-color: #6a4c93;
}

/*barra de navegación*/
nav{
    padding: 10px 20px;
    margin-top: 20px;
}

.navbar {
  background: linear-gradient(135deg, #6a4c93 0%, #a8dadc 100%); 
  padding: 10px;
  overflow: visible;
}

.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #c3b7d2;
  list-style: none;
  padding: 0;
  min-width: 150px;
  z-index: 1000;
}

.dropdown-menu li a {
  padding: 10px 15px;
  display: block;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a:hover {
  background: #694c93;
}

/* fin barra navegación */

.logo{
    width: 10%; 
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c2c54;
    color: white;
}

.menu{
    padding: 10px 20px;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    margin: 0 15px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

nav a:hover {
    color: #6a4c93;
}

.user-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    gap: 20px;
    border: 2px solid #000000;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    text-align: left;
}

.barcode img {
    width: 150px;
    height: auto;
}

.user-info {
    font-size: small;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

#progreso {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progreso-img {
    width: 180px;
    height: auto;
}