body {
    font-family: 'Charter', 'Bitstream Charter', 'Sitka Text', Georgia, serif;
    background-color: #f8e9d8;
}

header{
    background-color: #6a4c93;
    text-align: center;
}

.logo{
    width: 10%; 
    text-align: center;
}

nav {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #694c9337;
	text-align: center;
	line-height: 50px;
	margin: 30px 250px 30px 250px;
	border-style: double;
	border-radius: 4px;
}

h1 {
    color: #333;
    padding: 20px;
    text-align: center;
}

main p {
    text-indent: 25px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5rem;
}

.centradoP{
    margin: 0 auto;
    padding: 0.5rem;    
    text-align: center;
}

.cambioSiguiente{
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #694c9337;
	text-align: right;
	line-height: 50px;
	margin: 30px 250px 30px 250px;
	border-style: double;
	border-radius: 4px;
}

.cambioAnterior{
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #694c9337;
	text-align: left;
	line-height: 50px;
	margin: 30px 250px 30px 250px;
	border-style: double;
	border-radius: 4px;
}

button {
    background-color: #a68cca;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
